[Global]
MoveFirst=false
ArrowPosition=0

[Entry 0]
Name=figital
Comment=it's like digital ... but with a little f
Icon=web-browser
Exec=exo-open --launch WebBrowser
Terminal=false
StartupNotify=false

