<?xml version="1.0" encoding="utf-8"?>
<openbox_menu xmlns="http://openbox.org/" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://openbox.org/                 file:///usr/share/openbox/menu.xsd">
	<menu id="root-menu" label="figital">
		<item label="chromium">
			<action name="Execute">
				<execute>chromium</execute>
			</action>
		</item>
		<item label="xterm">
			<action name="Execute">
				<execute>terminal</execute>
			</action>
		</item>
		<item label="gedit">
			<action name="Execute">
				<execute>gedit</execute>
			</action>
		</item>
		<item label="bullseye easygui">
			<action name="Execute">
				<execute>python ~/easy.py</execute>
			</action>
		</item>
		<menu id="root-menu-935920" label="Colors">
			<menu id="menu-orange" label="orange">
				<item label="leafpad">
					<action name="Execute">
						<execute>leafpad</execute>
					</action>
				</item>
			</menu>
			<menu id="menu-red" label="red">
				<item label="leafpad">
					<action name="Execute">
						<execute>leafpad</execute>
					</action>
				</item>
			</menu>
			<menu id="menu-blue" label="blue">
				<menu id="menu-skyblue" label="sky-blue">
					<item label="New Item">
						<action name="Execute">
							<execute>command</execute>
						</action>
					</item>
				</menu>
				<menu id="menu-cadetblue" label="cadet-blue">
					<item label="New Item">
						<action name="Execute">
							<execute>command</execute>
						</action>
					</item>
				</menu>
				<item label="New Item">
					<action name="Execute">
						<execute>command</execute>
					</action>
				</item>
			</menu>
		</menu>
		<item label="thunderbird">
			<action name="Execute">
				<execute>thunderbird</execute>
			</action>
		</item>
		<item label="geany">
			<action name="Execute">
				<execute>geany</execute>
			</action>
		</item>
		<item label="leafpad">
			<action name="Execute">
				<execute>leafpad</execute>
			</action>
		</item>
		<item label="tilda">
			<action name="Execute">
				<execute>tilda</execute>
			</action>
		</item>
		<item label="thunar">
			<action name="Execute">
				<execute>thunar</execute>
			</action>
		</item>
		<item label="wpa_gui">
			<action name="Execute">
				<execute>sudo wpa_gui</execute>
			</action>
		</item>
		<separator/>
		<item label="obmenu">
			<action name="Execute">
				<execute>obmenu</execute>
			</action>
		</item>
		<separator/>
		<item label="obconf">
			<action name="Execute">
				<execute>obconf</execute>
			</action>
		</item>
		<item label="Reconfigure">
			<action name="Reconfigure"/>
		</item>
		<item label="Restart">
			<action name="Restart"/>
		</item>
		<separator/>
		<item label="Exit">
			<action name="Exit"/>
		</item>
	</menu>
</openbox_menu>
